
<h1>Posts</h1>

<div data-bind="foreach: posts">


    <div>
        <div>
            <a href="" data-bind="click:  $parent.showPost">
                <span data-bind="text: title"></span>
            </a>
        </div>
    </div>

</div>
<div style="margin-top: 20px">
    <button data-bind="click: prev, enable: canPrev">Prev</button>
    <button data-bind="click: next, enable: canNext">Next</button>

    SearchTemp: <input data-bind="textInput : searchVal"/>
    <button data-bind="click: {searchPost}">search</button>



    <!--put a search bar here and data bind to searchPost-->
</div>