<div class="container">
    <div class="row">
        <div class="col-sm-10 col-md-9 col-lg-8">
            <h1 class="text-center my-2">Posts</h1>

            <div data-bind="foreach: posts">


                <div>
                    <div>
                        <a href="" data-bind="click: $parent.showPost">
                            <span data-bind="text: title"></span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: 20px">
        <button type="button" class="btn btn-primary" data-bind="click: prev, enable: canPrev">Prev</button>
        <button type="button" class="btn btn-primary" data-bind="click: next, enable: canNext">Next</button>
        <div class="row">

            SearchTemp: <input data-bind="textInput : searchVal" />
            <button type="button" class="btn btn-success" data-bind="click: searchPost">Search</button>

        </div>

        <!--put a search bar here and data bind to searchPost-->
    </div>
</div>