<div class="container">
    <div class="row" style="height: auto; min-height: 310px;">
        <div class="col-sm-8 col-md-8 col-lg-8" style="align-items-start;">
            <h1 class="text-center my-2">Posts</h1>

            <div data-bind="foreach: posts">


                <div>
                    <div>
                        <a href="" data-bind="click: $parent.showPost">
                            <span data-bind="text: title"></span>
                        </a>
                    </div>
                </div>

            </div>


        </div>
        <div class="col-sm-2 offset-2" style="margin-top: 20px; align-items-end;">
            <input data-bind="textInput : searchVal" />
            <button type="button" class="btn btn-success" data-bind="click: searchPost">Search</button>
        </div>
    </div>
</div>
    <div class="container">

        <div class="row">
            <button type="button" class="btn btn-primary" data-bind="click: prev, enable: canPrev">Prev</button>
            <button type="button" class="btn btn-primary" data-bind="click: next, enable: canNext">Next</button>

            

        </div>

        <!--put a search bar here and data bind to searchPost-->
   
    </div>