
a {
    cursor: pointer;

}

.btn btn-info {
    padding: 5px;
    margin: 5px;
}

.navbar-expand-lg {
    border: 1px solid black;
    background-color: #dddddd;
}


body {
    background-color: #f7eaec;
}

.footer {
    height: 24px;
    width: 100%;
    background-color: #dddddd;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}

.footer_contents {
    height: 24px;
    width: 1000px;
    margin:auto;
}
