<div class="question">

    <div data-bind="with: currentPostComment">
        <div><button type="button" class="mt-1 btn btn-info" data-bind="click: $parent.back">Back</button></div>
        <div>
            <h1 data-bind="text: title"></h1>
            <div class="row">
                <div class="col-10">
                    <h3>Date: <span data-bind="text: creationDate"></span></h3>
                </div>
                <div class="align-content-end; col-md-2 col-sm-4">
                    <h3>Score: <span data-bind="text: score"></span></h3>
                </div>
            </div>
            <div data-bind="html: body"></div>
            <button type="button" class="mt-1 btn btn-info" data-bind="click: $parent.mark">Mark Post</button>
            <input data-bind="textInput:$parent.bodyAnnotation" /> <button data-bind="click: $parent.annotate">Annotate</button>
        </div>

        <h3>Comments</h3>
        <div data-bind="foreach: comments.items">
            <div style="background: lightgrey; margin: 20px; border: 1px solid black;">
                <div class="row">
                    <div class="col-10">
                        <h4>Date: <span data-bind="text: creationDate"></span></h4>
                    </div>
                    <div class="align-content-end; col-md-2 col-sm-4">
                        <h4>Score: <span data-bind="text: score"></span></h4>
                    </div>
                </div>
                <div class="m-2" data-bind="html: body"></div>
            </div>
        </div>

    </div>


    <div data-bind="with: currentPostAnswer">

        <div data-bind="if: $parent.hasAnswers">

            <div><button type="button" class="btn btn-info" data-bind="click: $parent.back">Back</button></div>
            <h3>Answers:</h3>
            <div data-bind="foreach: answers">
                <div style="background: lightgrey; margin: 20px; border: 1px solid black">
                    <div class="row">
                        <div class="col-10">
                            <h4>Date: <span data-bind="text: creationDate"></span></h4>
                        </div>
                        <div class="align-content-end; col-md-2 col-sm-4">
                            <h4>Score: <span data-bind="text: score"></span></h4>
                        </div>
                    </div>
                    

                    <div class="m-2" data-bind="html: body"></div>
                </div>
            </div>
        </div>

        <div><button type="button" class="mb-1 btn btn-info" data-bind="click: $parent.back">Back</button></div>

    </div>


</div>